html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E9FFF9;
}

section {
    max-width: 900px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.hero {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    gap: 16px;
    background-color: #9ED8DB;
    height: 50vh;
}
.nombre {
    font-size: 72px;
    line-height: 0;
    color:#467599
}
.profesion{
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
}
.bio{
    font-size: 15px;
    line-height: 1.5;
}


.apartado0{
    color: #a94608;
    background-color: #FF8C42;
    width: fit-content;
    padding: 10px;
    border-radius: 30px;
}
.proyecto{
    padding: 10px;
    width: fit-content;
    background-color: #9ED8DB;
    border-radius: 30px;
    margin-bottom: 5px;
}
.proyecto:hover{
    background-color: #569da1;
}
.enlace-proyecto{
    color: #467599;
    text-decoration: none;
}
.enlace-proyecto:hover {
    color: #9ED8DB;
}



.apartado1{
    color :#a94608;
    background-color: #FF8C42;
    width: fit-content;
    padding: 10px;
    border-radius: 30px;
}
.experiencia{
    padding: 16px;
    border: 1px solid #467599;
    border-radius: 16px;
    margin-bottom: 16px;
}
.exp-titulo{
    font-weight: 700;
    color: #467599;
}
.exp-fecha{
    font-size: 14px;
    color: #abcec5;
}



.apartado2{
    color: #a94608;
    background-color: #FF8C42;
    width: fit-content;
    padding: 10px;
    border-radius: 30px;
}
.habilidades p{
    margin: 0;
    width: fit-content;
}
.habilidades{
    padding: 10px;
    width: fit-content;
    background-color: #9ED8DB;
    border-radius: 30px;
    margin-bottom: 5px;
    
}
.envoltura-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}