---
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";

---
<footer>
    <nav>
        <ul>            
            <li class="insta"><a href=""><Instagram/></a></li>
            <li class="git"><a href=""><git/></a></li>
            <li class="lin"><a href=""><Linkedin/></a></li>
        </ul>
    </nav>
</footer>

<style>
    footer{
        margin-top: 84px;
        width: 100%;
        background-color: #ff9b9b;
        color:white;
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    ul{
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }
    insta{
        color: white;
    }
    git{
        color: white;
    }
    lin{
        color: white;
    }
</style>