---

import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
import Git from "./icons/git.astro";
---
<footer>
    <nav>
        <ul>            
            <li class="insta"><a href="https://www.instagram.com/ster_27_/"><Instagram/></a></li>
            <li class="git"><a href="https://github.com/esthermaroto"><Git/></a></li>
            <li class="lin"><a href="https://www.linkedin.com/in/esther-maroto-torres-52a74927a/"><Linkedin/></a></li>
        </ul>
    </nav>
</footer>

<style>
    footer{
        margin-top: 84px;
        width: 100%;
        background-color: #1D3354;
        color:white;
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    ul{
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }
    li{
        list-style: none;
    }
    a{
        color: #E9FFF9;
    }
</style>